
.scroll-main {
    background-color: black;
    height: 5000px;
    padding-left: 60px;
    margin-top: 70px;
}

.scroll-main h4 {
    color: aliceblue;
    text-align: left;
}

.scroll-components {
    display: flex;
}

.scroll-component-main img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 5%;
    margin: 5px;
}